@import "./mixins/mobile";
@import "./mixins/darkMode";

.keys {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.75em;

  text-decoration: none;
  outline: none;
  //background-color: #161a2f;
  padding: 5px 13px 5px 2px;
  //color: #161a2f;

  &:hover {
    //background-color: #6522ff33;
    transition: .25s ease-in-out;
  }

  &:hover .pgp {
    //background-color: #6522ff;
    //background-color: #fff;
    //color: #161a2f;
    transition: .25s ease-in-out;
  }

  .char {
    @for $i from 1 through 46 {
      &:nth-child(#{$i}):after {
        animation-delay: #{1000 + random(1001)}ms;
      }
    }

    &:after {
      content: attr(data-placeholder);
      animation: text 3s;
      animation-fill-mode: forwards;

      $hexVals: "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S" "T" "U" "V" "W" "X" "Y" "Z" "1" "2" "3" "4" "5" "6" "7" "8" "9" "0";

      @keyframes text {
        @for $i from 1 through 99 {
          $char: nth($hexVals, random(length($hexVals)));
          #{$i}% {
            content: $char;
          }
        }
        100% {
          content: attr(data-original)
        }
      }
    }
  }

  @include darkMode {
    color: #fff;
  }

  @include mobile {
    font-size: 6.5em;
    word-break: break-word;
    padding: 3vw;
    width: 400px;
    text-align: center;
  }
}

.pgp {
  //background-color: #161a2f;
  padding: 3px 8px 3px 10px;
  margin-right: -8px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}